.Match-BootStrap-Blue-Nav-BGColor {
    background-color:rgba(var(--bs-primary-rgb),var(--bs-bg-opacity))!important
}   
 
.Navigation-Menu-No-Padding {
padding:0
}   

.Navigation-Menu-Font {
font-family:'Salesforce Sans", system-ui, -apple-system, Bli';
font-size:'16px';
font-weight:700;
line-height:'24px';

}

.Navigation-Menu-Font-Small {
font-size:'14px';
font-weight:400;
line-height:'20px';
}

.Navigation-Menu-Text-Padding{
padding-top: 4px;
padding-bottom: 4px;
}

.Navigation-Menu-Text-Margin-Center{
margin:5px
}

.Navigation-Menu-Button-Position{
position:relative;
top:-10px;
}

.Navigation-Menu-Div-Img{
width:20px;
height:20px;
}

.Navigation-Menu-Div-Img-Logo{
width:150px;
height:50px;

}


.Navigation-Menu-Img{
width:100%;
height:100%;
object-fit:cover;
}

.Navigation-Menu-Horizontal-Bar{
background-color:grey;
width:100%;
height:1px;
}


.Navigation-Menu-Text-Underline{
text-decoration-line: underline;
}

.Navigation-Menu-Background-Color{
background-color: white
}


.Navigation-Menu-Margin{
margin-right: 50px;
margin-left: 50px;
}

.Home-Body-Left-Font{
font-family: 'SalesforceSansLight, Helvetica, Arial, sans-serif';
font-size: 30px;
font-weight: 400;
line-height: 36px
}

.Home-Body-Div-Img-Logo{
width:635px;
height:300px;

}

.Home-Body-Div-Img-Right{
width:381px;
height:497;
margin-left:100px;

}


.Home-Body-Img{
width:100%;
height:100%;
object-fit:cover;
}